* {
  /* Resets the original settings in the browser */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Changes background colour, font, space between them */
body {
  background-image: linear-gradient(120deg, #5fdfd9, #1621b4);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

/* Changes font size in the header */
header {
  font-size: 1.5rem;
}

/* Centres the input and title */
header,
form {
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/*-------------------- Index File ------------------*/

form button {
  margin: 1.5rem;
  font-size: 1rem;
  border: none;
  background: white;
}
.index-button {
  align-items: center;
}

/*-------------------- SignUp File ------------------*/

/*-------------------- MainPage File ------------------*/
img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 80px;
  justify-content: left;
}
.jobs {
  padding: 1.5rem;
  padding-top: 0rem;
}
form input,
form button {
  border: none;
  margin: 0.5em;
  font-size: 1rem;
  background: white;
  border: 1px solid black;
  padding: 10px;
}
.entries .job-list {
  /* flex-wrap: wrap; */
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  min-height: 50vh;
  max-height: 50vh;
  width: 40vh;
  border: 1px solid black;
  overflow: auto;
}
#start {
  max-height: 20vh;
}
button {
  border: 1px solid black;
  border-radius: 15px;
  padding: 0.5rem;
}
button:hover {
  background: black;
  color: white;
}

/* Jobs that Appear */
.job-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.job-list {
  color: black;
  list-style: none;
}
.job-item {
  justify-content: center;
  min-width: 35vh;
  max-width: 35vh;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem;
  background: white;
  opacity: 1;
}
.job-item:hover {
  background: grey;
}
.delete {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  border-radius: 15px;
  min-height: 15vh;
  max-height: 15vh;
  width: 40vh;
  border: 1px solid black;
}
div .job {
  opacity: 0.99;
}
