* {
  /* Resets the original settings in the browser */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Changes background colour, font, space between them */
body {
  background-image: linear-gradient(120deg, #5fdfd9, #1621b4);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

/* Changes font size in the header */
header {
  font-size: 1.5rem;
}

/* Centres the input and title */
header,
form {
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/*-------------------- Index File ------------------*/

form button {
  margin: 1.5rem;
  font-size: 1rem;
  border: none;
  background: white;
}
.index-button {
  align-items: center;
}

/*-------------------- SignUp File ------------------*/

/*-------------------- MainPage File ------------------*/
.jobs {
  padding: 1.5rem;
}
form input,
form button {
  margin: 0.5em;
  font-size: 1rem;
  background: white;
}
.entries {
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
  min-height: 70vh;
  width: 40vh;
  border: 1px solid black;
}
/* Jobs that Appear */
.job-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.job-list {
  color: black;
  list-style: none;
}
